body, html{
    padding: 0%;
    margin: 0%;
    background: gray;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}



.flex{
    width:100%;
    height:100vh;
    background:rgba(0,0,0,0.1);
    overflow:hidden;
    display:flex;
    flex-direction:column;
    justify-content:center; /* Alignement sur la hauteur/verticalement */
    align-items:center; /* Alignement sur la largeur/horizontalement */
}


#blockContainer{
    width: 200%;
}

#block1{
    margin-top: 15%;
    width: 50%;
    height: 100%;
    float: left;
}

#block2{
    width: 50%;
    height: 100%;
    background-color: rgb(13, 24, 124);
    float: left;
}







